In [ ]:
# default_exp core

# elec_consumption

Cluster analysis and statistical learning for electricity consumption profiles.

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./data/raw.csv')

In [ ]:
df.columns = list(range(df.shape[1]))
df.index = list(range(df.shape[0]))
df.columns.name = 'household'
df.index.name = 'time'

In [ ]:
df

household,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
time,,,,,,,,,,,,,,,,,,,,,
0,2017-08-01 00:00:00,0.094,0.028,0.116,0.096,0.189,0.229,0.011,0.115,0.069,...,0.037,0.157,0.056,0.049,0.260,0.009,0.497,0.143,0.136,0.048
1,2017-08-01 00:30:00,0.039,0.050,0.068,0.077,0.156,1.848,0.011,0.086,0.077,...,0.035,0.156,0.068,0.020,0.219,0.010,0.814,0.219,0.149,0.045
2,2017-08-01 01:00:00,0.088,0.060,0.044,0.095,0.118,1.880,0.010,0.120,0.067,...,0.028,0.202,0.068,0.046,0.246,0.010,0.472,0.173,0.210,0.081
3,2017-08-01 01:30:00,0.046,0.023,0.067,0.092,0.145,0.773,0.011,0.099,0.063,...,0.001,0.202,0.068,0.024,0.218,0.009,0.258,0.156,0.142,0.046
4,2017-08-01 02:00:00,0.082,0.020,0.068,0.085,0.153,0.227,0.011,0.089,0.075,...,0.000,0.180,0.057,0.030,0.240,0.012,0.124,0.167,0.139,0.045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5851,2017-11-30 21:30:00,0.233,0.193,0.205,0.191,1.158,0.806,0.121,0.302,0.148,...,0.064,0.606,0.102,0.391,0.443,0.023,1.942,1.003,0.210,0.301
5852,2017-11-30 22:00:00,0.080,0.115,0.198,0.075,0.472,0.764,0.114,0.275,0.171,...,0.060,0.619,0.033,0.337,0.406,0.022,1.512,0.411,0.132,0.278
5853,2017-11-30 22:30:00,0.092,0.147,0.104,0.095,0.171,0.745,0.039,0.232,0.072,...,0.000,0.647,0.032,0.267,0.182,0.019,1.149,0.297,0.094,0.206
5854,2017-11-30 23:00:00,0.095,0.106,0.134,0.081,0.276,0.675,0.040,0.233,0.061,...,0.000,0.596,0.025,0.279,0.161,0.018,0.498,0.239,0.156,0.229
5855,2017-11-30 23:30:00,0.097,0.099,0.109,0.074,0.513,0.205,0.027,0.259,0.097,...,0.000,0.562,0.053,0.303,0.176,0.022,0.236,0.284,0.142,0.190